body {
  background-color: #f8fafc;
}

.login-container {
  display: flex;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-background {
  flex: 1;
  background-color: #0F172A;
}

.hint-login {
  font-size: 14px;
  color: #94A3B8;
  margin-top: 8px;
  margin-bottom: 30px;
  display: block;
}

.remember-me {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin-block: 8px;
  accent-color: #4880FF;
  color: #94A3B8;
  font-size: 14px;
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 350px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-block: 8px;
  outline-color: #0F172A;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #CBD5E1;
}

.form-group input:focus-visible, 
.remember-me input:focus-visible,
.login-button:focus-visible {
  outline: solid 3px #4880FF;
  outline-offset: 2px;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 45px;
  border: none;
  border-radius: 6px;
  background-color: #0F172A;
  color: white;
  cursor: pointer;
}

.login-button:hover {
  opacity: 0.9;
}