aside {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0; /* Corrige el padding */
    color: black;
    text-align: center;
    align-items: center; /* Centra horizontalmente los elementos */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    padding-top: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espacio entre ul y el boton de cerrar */
    height: 100%; /* Cambia la altura al 100% para que ocupe todo el espacio disponible */
    align-items: center;
    width: 100%;
    padding: 0;
}

h2 {
    font-size: 2rem;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 12px; /* Espaciado entre los elementos de la lista */
}

li {
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.logout-button {
    margin-top: auto; /* Empuja el botón hacia el final del contenedor */
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 0;
}

.logout-button:hover {
    text-decoration: underline; /* Efecto hover */
}
